/*
    RESET
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none;
    transition: none;
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* optional */
  object-fit: cover;
  /* optional */
  object-position: center center;
}

a {
  display: block;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote::before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

::selection {
  background-color: #F299B1;
  color: #ADD9C9;
}

@media (prefers-color-scheme: dark) {
  ::selection {
    background-color: #ADD9C9;
    color: #F299B1;
  }
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
  /* optional */
}

textarea:focus,
input:focus,
input[type]:focus {
  outline: 0 none;
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  display: block;
  fill: currentColor;
  pointer-events: none;
}

body {
  min-height: 100vh;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  color: #2d2d2d;
  background-color: #f7f7f7;
  /* optional */
  /* optional */
  hyphens: auto;
  /* optional */
  font-smooth: always;
  /* optional */
  -webkit-font-smoothing: antialiased;
  /* optional */
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #f7f7f7;
    background-color: #2d2d2d;
  }
}

#root {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.h1 {
  font-size: 1.8em;
}

.h2 {
  font-size: 1.6em;
  font-weight: 700;
  margin: 1em 0;
}

.h3 {
  font-size: 1.4em;
}

.a {
  color: #F299B1;
}

.a:hover {
  color: #ADD9C9;
}

.react-icons {
  fill: #2d2d2d;
}

.header {
  width: 100%;
}

.nav {
  width: 100%;
  padding: 1em;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: background-color .5s ease-in-out 0s;
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
}

.nav__collapser {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.nav__a {
  font-weight: 600;
  color: #2d2d2d;
  padding: 0.5em;
}

.nav__a:hover {
  color: #f5dde4;
}

.nav__ul {
  width: 100%;
  text-align: end;
  overflow: hidden;
  transform: translateY(-15em);
  padding: 0 1em 1em 1em;
  margin-top: 1em;
  position: absolute;
  left: 0;
  z-index: 0;
  transition: background-color .5s ease-in-out, transform .5s ease-in-out;
}

@media screen and (min-width: 768px) {
  .nav__ul {
    width: fit-content;
    transform: none;
    margin-top: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }
}

.collapser__btn {
  display: block;
}

@media screen and (min-width: 768px) {
  .collapser__btn {
    display: none;
  }
}

.collapser__btn .react-icons {
  font-size: 1.2em;
}

.main {
  margin-top: 5em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1256px;
}

.section {
  min-height: 40vh;
  min-width: 100%;
  text-align: center;
  padding: 2em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

.headline {
  min-height: 80vh;
  min-width: 100vw;
  box-shadow: 0 5px 5px 0.5px rgba(45, 45, 45, 0.1);
}

.headline__h1 {
  text-align: start;
  font-weight: 500;
}

.section--proficiencies {
  min-width: 100vw;
  background-color: rgba(242, 153, 177, 0.2);
}

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.article {
  max-width: 20em;
  min-height: 30em;
  background-color: #f7f7f7;
  text-align: center;
  border-radius: 25px;
  box-shadow: none;
  margin: 1em;
  padding: 1.5em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  transition: box-shadow .2s ease-in-out, transform .2s ease-in-out;
}

.article:hover {
  box-shadow: 0 0 10px 5px rgba(242, 153, 177, 0.2);
  transform: scale(1.02);
  transition: box-shadow .2s ease-in-out, transform .2s ease-in-out;
}

.article__a {
  font-weight: 600;
  border: 2px solid #ADD9C9;
  color: #ADD9C9;
  border-radius: 10px;
  padding: 0.5em 1em;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.article__a:hover {
  background-color: #ADD9C9;
  color: #f7f7f7;
  border-color: transparent;
  transform: scale(1.08);
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.about {
  min-height: 50vh;
  border-top: 1em solid #ADD9C9;
  border-bottom: 1em solid #ADD9C9;
}

.about__pic {
  max-width: 10em;
  border-radius: 25px;
  margin: 0 0 0 1em;
  float: right;
}

.about__p {
  text-align: start;
}

.about__social {
  width: 100%;
  margin: 1em 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.social__a .react-icons {
  font-size: 2em;
  fill: #F299B1;
  transition: fill .2s ease-in-out, transform .2s ease-in-out;
}

.social__a:hover .react-icons {
  fill: #ADD9C9;
  transform: scale(1.2);
  transition: fill .2s ease-in-out, transform .2s ease-in-out;
}

.contact__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.contact__text {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .contact__text {
    max-width: 50%;
  }
}

.contact__h3 {
  font-size: 2em;
  font-weight: 700;
  color: #F299B1;
  margin: 0 0 1em 0;
}

@media screen and (min-width: 768px) {
  .contact__h3 {
    font-size: 3em;
    font-weight: 900;
  }
}

.contact__p {
  font-size: 1.4em;
}

@media screen and (min-width: 768px) {
  .contact__p {
    font-size: 2em;
  }
}

.footer {
  padding: 2em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.footer__span {
  display: flex;
}

.form {
  background-color: #ADD9C9;
  border-radius: 25px;
  padding: 3em;
}

.form__input, .form__button {
  width: 100%;
  background-color: #f7f7f7;
  border-radius: 25px;
  margin: 0.5em 0;
  padding: 1em;
}

.form__input {
  transition: transform .2s ease-in-out;
}

.form__input:focus {
  transform: scale(1.05);
  transition: transform .2s ease-in-out;
}

.form__button {
  margin-top: 1em;
  font-weight: 700;
  transition: background-color .5s ease-in-out, transform .2s ease-in-out;
}

.form__button:hover {
  background-color: #f5dde4;
  transform: scale(1.08);
  transition: background-color .5s ease-in-out, transform .2s ease-in-out;
}

.alert {
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  color: transparent;
  padding: 0.5em;
  position: absolute;
  right: 0;
  bottom: 0;
  transition: .2s ease-in 0s;
}

.alert--active {
  display: block;
  width: 9em;
  color: inherit;
  transition: .2s ease-in 0s;
}

.alert--fail {
  color: #a45d5d;
}

.show {
  top: 3em;
  transform: translateY(0);
}

.bg-secondary {
  background-color: #ADD9C9;
}

.bg-secondary--light {
  background-color: #add9c9b3;
}

@media screen and (min-width: 768px) {
  .bg-secondary {
    background-color: transparent;
  }
}

.bg-transparent {
  background-color: transparent;
}
