@use "layout";

.show {
    top: 3em;
    transform: translateY(0);
}

.bg-secondary {
    background-color: #ADD9C9;

    &--light {
        background-color: #add9c9b3;
    }

    @include layout.responsive{
        background-color: transparent;
    }
}

.bg-transparent {
    background-color: transparent;
}